name: Build rules
permissions:
  contents: read

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [24]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Compile the rules
        run: pnpm compile

      - name: Test the rules
        run: pnpm test

      - name: Trigger Scalingo deployment
        if: github.ref == 'refs/heads/dev' && github.event_name == 'push'
        run: |
          # Exchange API token for bearer token
          BEARER_TOKEN=$(curl -s -H "Accept: application/json" -H "Content-Type: application/json" \
            -u ":${{ secrets.SCALINGO_API_TOKEN }}" \
            -X POST https://auth.scalingo.com/v1/tokens/exchange | jq -r '.token')
          
          # Trigger deployment the branch dev-publicodes of the repository france-chaleur-urbaine
          curl -H "Accept: application/json" -H "Content-Type: application/json" \
            -H "Authorization: Bearer $BEARER_TOKEN" \
            -X POST https://api.osc-fr1.scalingo.com/v1/apps/france-chaleur-urbaine-dev-pr1153/deployments \
            -d '{
              "deployment": {
                "git_ref": "dev-publicodes",
                "source_url": "https://github.com/betagouv/france-chaleur-urbaine/archive/refs/heads/dev-publicodes.tar.gz"
              }
            }'
